@model IEnumerable<DataStructure.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Kindergarten MooN's activities</h2>

    @if (User.IsInRole("Admin"))
         {
    <p>
        @Html.ActionLink("Create New", "Create")
       </p>
         }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    If you would like to sign in your kid to some of the activities, please contact your administration from the button Contact!
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>


